<%- include('header') %>
<div class="container">
    <h1><%= title %></h1>
    <a href="/profile">Profile</a><br>
    <a href="/transfer">Transfer</a><br>

</div>

<% for (let [i, account] of Object.entries(accounts) ) {  %>
    <%- include('summary',{account}) %>
<% } %>

<%- include('footer') %>